@import "src/@fuse/scss/fuse";
:host {
    width: 100%;
    .center {
        .header {
            .search-wrapper {
                @include mat-elevation(7);
                .sidenav-toggle {
                    margin: 0;
                    width: 56px;
                    height: 56px;
                    border-radius: 0;
                    
                }
                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 18px;
                    input {
                        height: 56px;
                        padding-left: 16px;
                        color: rgba(0, 0, 0, 0.54);
                        border: none;
                        outline: none;
                    }
                }
            }
        }
        .content-card {
            .content {
                background-color: #D8E8E9;
                border-radius: 2px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
                transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
                margin: 12px;
                padding: 8px;
            }
            .toolbar {
                background-color: #406D95;
                color: #A8D0DA;
                border-radius: 2px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
                transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
                padding: 24px;
                margin: 12px;
            }
            @include media-breakpoint-down(md) {
                @include media-breakpoint-down(md) {
                    fuse-ogrenim-hedef-list {
                        border-right: 0;
                    }
                    fuse-ogrenim-hedef-list
                    {
                        flex: 1 0 100%;
                    }
                    &.aktif-secenek-var {
                        .toolbar {
                            padding-left: 16px !important;
                            .todo-selection {
                                display: none !important;
                            }
                        }
                        .content {
                            fuse-ogrenim-hedef-list {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
        .ekle {
            color: #406D95 !important;
        }
        .sil {
            color: #AF373A !important;
        }
    }
}