:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, .12);
    min-height: 20vh;
    height: 50vh;
    background-color: #D8E8E9;
    .no-todos-text {
        font-size: 24px;
        font-weight: 300;
    }
   
}