@import "src/@fuse/scss/fuse";

:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 20vh;
    height: 50vh;
    background-color: #E2E3DD;
    color:#406D95;
    .todo-header {
        padding: 22px;
        padding-bottom: 23px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background: rgba(0, 0, 0, 0.06);

        .actions {
            min-width: 88px;
        }
    }

    .todo-content {
        padding: 8;

        .title {
            font-size: 17px;
            font-weight: 700;
        }

        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }

        .dates {

            .mat-form-field {
                width: auto !important;
            }
        }
    }
    .sil {
        color: #AF373A !important;
    }
    .ekle {
        color:#406D95 !important;
    }

    .secenek-ozellik-listesi {
        padding-left: 24px;
    }
}
