.vs/SSB/v15/Server/sqlite3/db.lock
.vs/SSB/v15/Server/sqlite3/storage.ide

.vs/SSB/v15/Server/sqlite3/storage.ide-wal
.vs/SSB/v15/Server/sqlite3/storage.ide
.vs/SSB/v15/Server/sqlite3/storage.ide-shm

Core/Core.Base/obj/Debug/netcoreapp2.0/Core.Base.pdb
Core/Core.Base/obj/Debug/netcoreapp2.0/Core.Base.dll

