<div id="cards" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="between">
      <div>
        <span class="baslik-programadi">SINAV SORU BANKASI
        </span>
      </div>
      <div>
        <span class="baslik-mesaj">Üniversiteler için sınav soru çözümü </span>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <!-- CARDS -->
    <div class="cards" fxLayout="row" fxLayoutAlign="center start">

      <!-- CARD SORU HAZIRLAMA MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_soru_hazirlama.jpg">

            <div class="p-16">
              <div class="h1">Soru Hazırlama Modülü</div>
              <div class="h4 secondary-text">Soru Deposu</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              Soru hazırlama yetkisi olan kullanıcıların (Öğretim üyeleri, öğretim görevlileri, okutmanlar vb.) kalite standartlarına uygun
              olarak soru hazırlamasınını sağlar. Sorular soru deposunda saklanır. Eğitimden sorumlu kurullar soru depolarına
              kaydedilmiş soruları teknik olarak inceler. Teknik denetimden geçen sorular sınavlarda kullanılabililir hale
              gelir. Teknik denetimde sorunlar görülürse soruyu hazırlayan kullanıcıya konu ile ilgili mesaj/eposta gönderilir.
            </div>
          </div>

        </div>

      </div>
      <!-- / CARD SORU HAZIRLAMA MODULU -->

      <!-- CARD SINAV ILAN MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_sinav_yaratma.jpg">

            <div class="p-16">
              <div class="h1">Sınav Yaratma Modülü</div>
              <div class="h4 secondary-text">Çeşitli parametrelere göre sınav yaratın</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              İstenen dersler için sınav sorularının yaratılmasına izin verir. Sınav soruları ders ve veya konu için yaratılabilir. Sınav kitapçığa girecek bu sorular otomatik veya manuel olarak seçilebilir.
              Sorular çeşitli parametrelere göre (zorluk derecesi, kabul edilebilirlik indeksi, öğrenim hedefleri veya anahtar keliemeler) filtrelenir. Filtre sonucunda listelenen soru veya sorular seçilerek listeye eklenir.
              Soru ekleme sırasında güncel olarak o ana kadar seçilen sorularla ilgili istatistikler de güncellenir. Daha sonra yaratılacak sınavda seçilen bu sorular sınav kitapçığı oluşturmada kullanılır.
            </div>
          </div>

        </div>

      </div>
      <!-- CARD SINAV ILAN MODULU -->


      <!-- CARD SINAV ILAN MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_sinav_ilan.jpg">

            <div class="p-16">
              <div class="h1">Sınav İlan Modülü</div>
              <div class="h4 secondary-text">İlan yönetimi</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              İstenen dersler için planlanan tarihte yapılmak üzere sınav ilanlarının yapılmasını sağlar. İlanlarda yapılacak sınav hakkında
              bilgiler (ders, sınav yeri, son başvuru tarihi, sınav tarihi vb.) verilir. Sınavlara başvurular farklı şekillerde
              olabilir. Sınava ilanı yapan kullanıcı yarattığı sınavlara öğrenci atayabileceği gibi, öğrencilerin de sınava
              başvuru yapması bir seçenek olabilir. Bu durumda öğrenciler ilan edilen sınava başvuru yapabilirler. Sınavı
              yapan kullanıcı başvuru yapan öğrencileri kabul eder veya sorun var ise mesaj/eposta ile geri bildirim verir.
            </div>
          </div>

        </div>

      </div>
      <!-- CARD SINAV ILAN MODULU -->


      <!-- CARD SINAV MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_sinav.jpg">

            <div class="p-16">
              <div class="h1">Sınav Modülü</div>
              <div class="h4 secondary-text">Klasik veya elektronik sınav yapın</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              Sınav modülünde ilk süreç sınav kitapçıklarının hazırlanmasıdır. Seçilen sorular sınav yöneticisi 
              tarafından incelenir. Sınavı oluşturan sorular sürelerine göre sınav süresi hesaplanır. Sınavda çıkacak sorular
              onaylandıktan sonra soru kitapçıkları hazırlık süreci başlar. Her sour kitapçığı için cevap anahtarları sistem tarafından hazırlanır. 
              Yaratılan bu kitapçıklara göre sınavlar ister yöntemler (soru kitapçıkları basılarak) ister online olarak yapılır.

            </div>
          </div>

        </div>

      </div>
      <!-- CARD SINAV MODULU -->


      <!-- CARD SONUC ILAN MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_sinav_sonuc.jpg">

            <div class="p-16">
              <div class="h1">Sonuç İlan Modülü</div>
              <div class="h4 secondary-text">En hızlı şekilde sonuçları ilan edin</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              Çevrim içi sınavlarda anında sınav sonuçlarının yayını, klasik sınavlarda en kısa zamanda otomasyon yardımıyla cevapların
              okunması. Sonuçların onay süreçlerinin yönetilmesi. Sonuçların ilan edilmesi...
            </div>
          </div>
        </div>
      </div>
      <!-- CARD SONUC ILAN MODULU -->


      <!-- CARD SINAV ANALIZ MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">
            
            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_analiz.jpg">

            <div class="p-16">
              <div class="h1">Sınav Analiz Modülü</div>
              <div class="h4 secondary-text">Doğru sınav analizi, daha iyi ölçen sınavlar, daha iyi eğitim programı</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              Yapılan sınavlara verilen cevaplar analiz edilir. Sınavlarla ilgili yıllara göre genel demografik bilgiler, her soruya ne
              sıklıkla doğur veya yanlış cevap verilmiş? Hangi şıklar daha çeldirici olmuş? ve diğer bir çok konuyla ilgili
              analiz sonuçlarının görülmesi. Soruların doğru ve/veya yanlış değerlendirme oranları, yıllara göre değişimler
              vb. istatistikler ile elde edilen bilgilere göre müfredat, ders içerikleri, öğrenim çıktılarına ulaşma yöntemlerinde
              sürekli iyileştirme ile eğitimde toplam kalitenin yakalanması.
            </div>
          </div>
        </div>
      </div>
      <!-- CARD SINAV ANALIZ MODULU -->

      <!-- CARD ANKET MODULU -->
      <div class="card">
        <div class="card-preview">
          <div class="fuse-card">

            <img src="https://ssbdepo.blob.core.windows.net/images/ssb_anket.jpg">

            <div class="p-16">
              <div class="h1">Anket Modülü</div>
              <div class="h4 secondary-text">Hızlı geri bildirimler ile paydaşlara bilgi akışı</div>
            </div>

            <div class="p-16 pt-0 line-height-1.75">
              Sınavlardan sonra istenien tüm alanlarda sınava girenlerce doldurulacak anketlerin belli süreler için yayında kalması, anket
              bilgilerinin değerlendirilmesi, geri bildirimlerin idari onaylardan sonra ilgililere rapor olarak sunulması.
            </div>
          </div>
        </div>
      </div>
      <!-- CARD ANKET MODULU -->
    </div>
  </div>
  <!-- CARDS -->

</div>