<fuse-widget class="p-12" class="widget" fxLayout="column">
  <!-- Front -->
  <div class="fuse-widget-front mat-elevation-z2">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="baslik" class="h3">{{baslik}}</div>
      <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <div fxFlex="auto" class="metin">
      <form fxFlex="auto" *ngIf="parentForm" [formGroup]="parentForm">
        <div *ngIf="!parentFormGroupName">
          <div *ngIf="parentFormControlName" style="background-color: white;padding:8px">
            <textarea matInput #metinAlani  formControlName="{{parentFormControlName}}" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="10"  (keypress)="closeOnEnter($event)" ></textarea>
            <!-- <textarea matInput #metinAlani [froalaEditor] formControlName="{{parentFormControlName}}"></textarea> -->
            <!-- <ckeditor [(ngModel)]="content" formControlName="area" #myckeditor [config]="ckeConfig" debounce="500"></ckeditor>   -->
            <!-- <ckeditor  formControlName="{{parentFormControlName}}" #editorum
            [config]="ckeConfig" debounce="500"></ckeditor>   -->
            <!-- <ckeditor  [config]="{uiColor: '#cccccc'}" debounce="500">
            </ckeditor> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- / Front -->

  <!-- Back -->
  <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
      <mat-icon class="s-16">close</mat-icon>
    </button>

    <div>
      Kabul edilebilirlik indeksi şudur budur.
    </div>
  </div>
  <!-- / Back -->

</fuse-widget>