@import "src/@fuse/scss/fuse";
.example-card {
    margin: 40px;
    padding: 24px;
    max-width: 400px;
}

.example-header-image {
    
}
#profilimFormu{

    .mat-form-field {
        width: 100%;
    }
}