<div class="kart" style="min-height: 200px!important; background-color: #BD3D4B;color:#EDDDE3;" [formGroup]="form" fxLayout="column"
    fxLayoutAlign="start stretch">
    <!-- <textarea style="min-height: 200px!important; padding:2px;font-size:1.2em;text-align: justify;background-color: #E3E3EA;color:#424A5E;"
        matInput formControlName="soruKokuMetni" placeholder="Soru kökü metni" matTextareaAutosize minRows="20" maxRows="50"
        rows="30"></textarea> -->
    <textarea  class="ml-24" placeholder="Sor kökü yazın" [froalaEditor]="config" formControlName="soruKokuMetni"></textarea>
</div>