<!-- Fab -->
<button *ngIf="menuItems" mat-fab [@preventInitialAnimation] [satPopoverAnchorFor]="dial" [disabled]="!gecerli" (click)="dial.toggle()"
    ng-blur="dial.close()" style="background-color: #E2474C;">
    <mat-icon [@spinInOut]="'in'" *ngIf="!gecerli" [@spinInOut]="'in'" style="background-color: #E2474C;" matTooltip="{{ipucu}}">warning</mat-icon>
    <mat-icon [@spinInOut]="'in'" *ngIf="gecerli && dial.isOpen()" style="background-color: #E2474C;" matTooltip="Kapat">close</mat-icon>
    <mat-icon [@spinInOut]="'in'" *ngIf="gecerli && !dial.isOpen()" style="background-color: #E2474C;" matTooltip="Soru Ekle">add</mat-icon>
</button>

<!-- Actions -->
<sat-popover #dial verticalAlign="above">
    <div class="dial">
        <ng-container *ngFor="let a of menuItems">
            <button mat-mini-fab [satPopoverAnchorFor]="tooltip" (mouseenter)="tooltip.open()" (mouseleave)="tooltip.close()" (click)="dial.close()"
                (click)="islem.emit(a.name)" [ngStyle]="{'background-color': a.arkaplanrengi}">
                <mat-icon [ngStyle]="{'color:':a.renk}">{{a.icon}}</mat-icon>
            </button>
            <sat-popover #tooltip horizontalAlign="before">
                <div class="tooltip mat-body-1">
                    {{a.title}}
                </div>
            </sat-popover>
        </ng-container>
    </div>
</sat-popover>