@import "src/@fuse/scss/fuse";
.todo-list-item {
    display: block;
    position: relative;
    padding: 16px 16px 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;
    background: #D8E8E9;
    .tags {
        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);
            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }
    &.selected {
        background: #A8D0DA;
    }
    &.aktif {
        background: #E2E3DD;
    }
    .info {
        color: #2F3A57;
        margin: 0 16px 0 8px;
        .title {
            font-size: 15px;
            font-weight: 500;
        }
        .notes {
            margin-top: 4px;
        }
    }
    .buttons {
        .is-starred {
            margin: 0 0 0 16px;
        }
        .is-important {
            margin: 0;
        }
    }
    .sil {
        color: #E2474C !important;
    }
    .actions {
        color:#2F3A57;
    }
}