<div class="mail-list" *fuseIfOnDom [@animateStagger]="{value:'50'}" fxLayout="column" fxLayoutAlign="start stretch">

    <!-- <div class="kart px-16" style="background-color: #C43F4D;color:#F5E5EA" *ngIf="service.soruKokuSonuc.donenNesne.soruKokuMetni">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                <mat-icon class="mat-18">link</mat-icon>
                <h2>Soru kökü</h2>
            </div>
            <div>
                <div *ngIf="soruKokuForm?.dirty || soruKokuNo===0">
                    <button mat-button class="mat-button" (click)="$event.stopPropagation();soruKokunuKaydet()">
                        <mat-icon matTooltip="Soru kökünde değişiklikler yaptınız. Buradan kaydedebilirsiniz">sd_card</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <sat-popover #soruKokuDuzenle horizontalAlign="before">
            <div class="fuse-card form" [formGroup]="soruKokuForm">
                <div class="p-16">
                    <div class="h1">İlişkili soru</div>
                    <div class="Birden fazla sorunun aynı soru köküne bağlanması"></div>
                </div>
                <div class="p-16  line-height-1.75">
                    <mat-form-field appearance="legacy">
                        <mat-label>Soru kökü metni</mat-label>
                        <textarea fxFlexFill matTextareaAutosize minRows="30" matInput (keydown)="closeOnEnter($event)" formControlName="soruKokuMetni"
                            placeholder="Soru kökü metni"></textarea>
                        <mat-hint>Lütfen ortak soru kökü metnini girin.</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </sat-popover>
    </div> -->

    <!-- <div class="kart" style="background-color: #F5E5EA;" *ngIf="service.soruKokuSonuc.donenNesne.soruKokuMetni"> -->
    <mat-expansion-panel (opened)="panelOpenState = true" style="background-color: #BD3D4B; border:none!important;margin:0!important;padding: 0!important"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="margin-left:-8px;">
            <mat-panel-title style="color:#EDDDE3;">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                        <mat-icon class="mat-18">link</mat-icon>
                        <h2>Soru kökü</h2>
                    </div>
                    <div>
                        <div *ngIf="soruKokuForm?.dirty || soruKokuNo===0">
                            <button mat-button class="mat-button" (click)="$event.stopPropagation();soruKokunuKaydet()">
                                <mat-icon matTooltip="Soru kökü metnini kaydedin.">sd_card</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <fuse-soru-koku-edit #duzenle [form]="soruKokuForm"></fuse-soru-koku-edit>
    </mat-expansion-panel>

    <!-- </div> -->

    <div style="background-color: #424A5E;color: #E3E3EA" >
        <div class="pl-16 pr-8" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                <mat-icon class="mat-18">list</mat-icon>
                <h2>Soru kökü ile ilişkili soru listesi</h2>
            </div>
            <div>
                <button mat-mini-fab style="background-color:#E3E3EA;color:#424A5E " (click)="$event.stopPropagation();yeniSoruYaratmaEkrani()" aria-label="Yeni soru ekle">
                    <mat-icon matTooltip="Bu sor kökü ile ilişkili YENİ soru yarat.">add</mat-icon>
                </button>
            </div>
        </div>

    </div>


    <fuse-iliskili-soru-item class="px-16" matRipple *ngFor="let soruItem of sorular" [soru]="soruItem" (click)="soruyuOku(soruItem.soruId)"
        [ngClass]="{'current-mail':soruItem?.soruId == aktifSoru?.soruId}" [@animate]="{value:'*',params:{y:'100%'}}">
    </fuse-iliskili-soru-item>
    <div *ngIf="sorular?.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <span class="no-messages-text hint-text">İlişkili soru listesi boş</span>
    </div>

</div>