:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 100%;
    .header {
        .logo {
            cursor: pointer;
            .logo-text {
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                color: #E2E3DD;
            }
        }
        .birimler {
            width: 100%;
            color: #E2E3DD;
        }
    }
    .content {
        background-color: #E2E3DD;
        .compose-dialog-button {
            background-color: #E2474C;
            color: white;
            width: 90%;
        }
    }
    .nav .nav-subheader {
        display: block;
        font-size: 1em;
        
        
    }
    .nav .nav-subheader :hover{
        cursor: pointer;
    }
    .nav .nav-item .nav-link.active {
        background-color: #E2E3DD;
        color: #2F3A57;
        font-weight: bolder;
        .nav-link-icon {
            color: #2F3A57;
        }
    }
    .nav .nav-item {
        color: #3E6A91;
    }
    .nav-link-icon {
        color: #3E6A91;
    }
    .program {
        font-size: 1.2em;
        color: #2F3A57;
        font-weight: bolder;
    }
    .donem {
        margin-left: 24px;
        font-size: 1em;
        color: #2F3A57;
        font-weight: bolder;
    }
    .ders {
        margin-left: 36px;
        font-size: 0.9em;
        font-weight: bolder;
    }
    .konu {
        margin-left: 48px;
        font-size: 0.8em;
    }
    .yeni-ikon {
        margin-bottom: 4px;
        margin-right: 12px;
        color: white;
    }
    .kucuk-ekran {
        background-color: #E2474C;
        .nav .nav-item {
            color: #2F3A57;
        }
        .nav-link-icon {
            color: #2F3A57;
        }
        .compose-dialog-button {
            background-color: #406D95;
            color: #A8D0DA;
        }
        .yeni-ikon {
            color: #A8D0DA;
        }
    }
    .yan-acik {
        background-color: transparent;
    }
    .navbar-content {
        flex: 1;
    }
}